<html>

<head>
    <title> {{ page_title }}</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='potted-plant.png') }}">
</head>

<body>
    <header>
    <div class="navbar">    
        <div id="logo">
            <img src="{{ url_for('static', filename='img/logo-placeholder.png') }}">
        </div>
        <div id="menu">
            <a  href="#explore">Explore</a>
            <a  href="#join">Join</a>
            <a  href="https://www.instagram.com/berlinergreenclub/" target="_blank" rel="noreferrer noopener">Follow</a>
        </div>
    </div>    
    <div id="line"></div>
    </header>
    <main>
        {% block content%} {% endblock %}
    </main>
    <footer>
            <h3> <em>  CT - CODE University SE Foundations Project </em></h3>
    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
</body>

