{% extends "base.html" %}
{% block content %}
<div class="first-slate">
    <img class="showscroll" id="right-bottom" src="{{ url_for('static', filename='img/clipart-leaf-fern-15 1.png') }}">
    <img class="showscroll" id="left-side" src="{{ url_for('static', filename='img/doublefern.png') }}">
    <h1>NO MORE DEAD PLANTS</h1>
    <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Nisl pretium fusce id velit ut tortor. Pharetra massa massa ultricies mi quis hendrerit dolor
        magna eget. </h2>
</div>

<div class="second-slate">
    <img class="showscroll" id="left-side" src="{{ url_for('static', filename='img/monsteragroup left.png') }}">
    <img class="showscroll" id="right-bottom" src="{{ url_for('static', filename='img/monstera group right.png') }}">
    <h1 class="showscroll">ONE APP <br> TO GROW THEM ALL</h1>
    <div id="top-left"> <h2 id="top-left-h2">Analyze Conditions to Choose the Right Plant</h2>
    <h3 id="top-left-h3">Enim sit amet venenatis urna cursus eget nunc. Mauris commodo quis imperdiet massa tincidunt
        nunc pulvinar. Aenean vel elit scelerisque mauris pellentesque pulvinar.
        Pellentesque habitant morbi tristique senectus et. </h3> </div>
    <div id="top-right"> <h2 id="top-right-h2">Analyze Conditions to Choose the Right Plant</h2>
    <h3 id="top-right-h3">Enim sit amet venenatis urna cursus eget nunc. Mauris commodo quis imperdiet massa tincidunt
        nunc pulvinar. Aenean vel elit scelerisque mauris pellentesque pulvinar.
        Pellentesque habitant morbi tristique senectus et. </h3> </div>
    <div id="bottom-left"><h2 id="bottom-left-h2">Analyze Conditions to choose the Right Plant</h2>
    <h3 id="bottom-left-h3">Enim sit amet venenatis urna cursus eget nunc. Mauris commodo quis imperdiet massa tincidunt
        nunc pulvinar. Aenean vel elit scelerisque mauris pellentesque pulvinar.
        Pellentesque habitant morbi tristique senectus et. </h3> </div>
    <div id="bottom-right"> <h2 id="bottom-right-h2">Analyze Conditions to choose the Right Plant</h2>
    <h3 id="bottom-right-h3">Enim sit amet venenatis urna cursus eget nunc. Mauris commodo quis imperdiet massa
        tincidunt nunc pulvinar. Aenean vel elit scelerisque mauris pellentesque pulvinar.
        Pellentesque habitant morbi tristique senectus et. </h3> </div>
</div>

<div class="third-slate">
    <img class="showscroll" id="right" src="{{ url_for('static', filename='img/ferns right.png') }}">
    <img class="showscroll" id="left" src="{{ url_for('static', filename='img/ferns left.png') }}">
    <img class="showscroll" id="smallup"  src="{{ url_for('static', filename='img/smallferns up.png') }}">
    <img class="showscroll" id="smallright"  src="{{ url_for('static', filename='img/smallferns right.png') }}">
    <img class="showscroll" id="smallleft"  src="{{ url_for('static', filename='img/smallferns left.png') }}">
    <img class="showscroll" id="bottom" src="{{ url_for('static', filename='img/roots.png') }}">
    <h2>For now leave your contact to get notified on launch <br> & <br>  follow us on Instagram.</h2>
    <h3> You will be our {{ sequence }} member if you join us now and you'll get {{ reduction  }}% reduction when we launch!!</h3>
    <h1>SOON</h1>
    <div class="form showscroll">
        <form form action="{{ url_for('checkUser') }}" method="post">
            <label id="email" id="emaillabel" for="email">Email:</label>
            <input id="email" type="email" name="email"> <br>
            <input type="checkbox" id="consentnotify" name="consentnotify" value="consentnotify">
            <label id="checklabel" for="consentnotify"> consent to get notified on launch</label><br>
            <input name="news" type="checkbox" id="newsletter" name="newsletter" value="newsletter">
            <label id="checklabel" for="newsletter"> recieve awesome bi-weekly newsletter</label><br>
            <input id="submit" type="submit" value="Submit">
        </form>
    </div>

    {% endblock %}