<html>

<head>
    <title> {{ page_title }}</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>

    <header>
    <div class="navbar">    
        <div id="logo">
            <img src="{{ url_for('static', filename='img/logo-placeholder.png') }}">
        </div>
        <div id="menu">
            <a  href="#explore">Explore</a>
            <a  href="#join">Join</a>
            <a  href="#follow">Follow</a>
        </div>
    </div>    
    <div id="line"></div>
    </header>
    <main>
        {% block content%} {% endblock %}
    </main>
    <footer>
            <h3> <em> By Turugut URUGUAY </em></h3>
    </footer>
</body>

